/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Monoo&display=swap');  IBM Plex Mono */
/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');  Ubuntu mono */
@font-face {
	font-family: HackRegular;
	src: url(fonts/Hack-Regular.ttf);
  }
@font-face {
	font-family: SFMono;
	src: url(fonts/SFMono-Regular.otf);
  }
@font-face {
	font-family: SFPro;
	src: url(fonts/SFPRODISPLAYBOLD.OTF);
  }

	html {
		color: white;
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
		margin: 0;
	}
	body {
    	font-family: 'SFPro';
    	font-weight:normal;
		background-color: #000000;
		background-image: url(bg2.png);
		/* font-size:24px; */
		/* background-size: contain; */
		/* backdrop-filter: blur(100px); */
	}
	p {
		text-align: center;
		color:white;
	}
	ul {
		list-style-type: none;
	}

	li {
		font-size: 17px;
		line-height: 2em;
		color: white;
	}
	a {
		all: unset;
	}
	a:hover {
		cursor: pointer;
		text-decoration:underline;
	}
	.clock {
		color: #946df0;
	  }
	  .main {
		margin-right: 145px;
		  width: auto;
		  height: 20em;
		  display: flex;
		  flex-flow: row;
	  }
	  .pic {
		  display: flex;
		  flex-direction: column;
		  text-align: center;
		  /* transform: scale(0.5); */
		  width: 348px;
		  height: 360px;
		  /*background-color: #1c141b;*/
	  }

	  .frame {
		  position: absolute;
		  /*margin-left: 24.5em; works in firefox but not chrome*/
		  margin-left: 22.5em;
		  height: 350px;
		  width: 10em;
		  /*background-color: #005657;*/
		  
		  background-image: url("neko_stable.gif");
		  background-repeat: no-repeat;
		  background-position-y: bottom;
		  background-position-x: 0em;
	  }
	  .links {
		  position: center;
		  /*margin-left: 24.5em; works in firefox but not chrome*/
		  height: 365px;
		  width: 10em;
		  /* background-color: #0a0041; 
		  background-image: url("bg2.png");
		  /* background-repeat: no-repeat;
		  background-position-y: bottom;
		  background-position-x: 0em;*/
  
	  }
	  input {
		background-color: unset;
		font: 16px 'Ubuntu Mono', monospace;
		color: #b5b5b5;
		height: 100%;
		width: 100%;
		border-top-style: hidden;
		border-bottom-style: soild;
		border-left-style: hidden;
		border-right-style: hidden;
		border-bottom-color: #25252500;
		text-align: center;
		margin-top: 50px;
		outline: 0;
		padding-bottom: 0.5em; }